db = jdbc:mysql://url
user = user
password = pass
adminuser = user
adminpass = pass
mailserver = mail.smtp.de
mailfrom = feedback@metfrag.bla
mailto = support@metfrag.bla
chemspiderToken = tokenFromChemSpider